* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 19px;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3{
    font-size: 1.5;
}


h1,h2,h3,h4,h5,h6,p{
    margin: 1em 0;
}



/********************* NAV *****************************/
nav {
    padding: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 250px;
}
/********************* Button *****************************/

button{
    border: none;
    background-color: #005cff;
    color: #fff;
    padding: .5em 1.5em;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #07d2b2;
    transition: all 0.3s;
}





/********************* FOOTER *****************************/

footer {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4em;
}
    @media screen and (max-width: 992px) {
        footer {
            flex-direction: column;
        }
        footer div img{
            margin: 0 0 3em 0;
        } 
    }

footer div{
    display: grid;
}
footer div img {
    width: 150px;
    justify-self: center;
    
}
footer div ul li{
    margin: .6em 0;
}

footer div:nth-child(2) ul{
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    footer div:nth-child(2) ul{
        flex-direction: column;
    }
    
}

a:hover{
    
    transition: all 0.3s;
    color: #07d2b2;
}


/* icons */

.icon{
    margin: 0em .5em 0 0;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    /*outline: 1px solid #;*/
    cursor: pointer;
    transition: all 0.3s;
    display: grid;
    justify-self: center;
    place-items: center;
    font-size: 25px;
    transition: all 0.3s;
}

.icon:hover{
    font-size: 35px;
    transition: all 0.3s;
    color: #005cff;
}


/********************* CONTAINER *****************************/

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.container div{
    width: 60%;
}

/********************* FORM *****************************/
.formContainer{
    display: flex;
    justify-content: center;
    
}

form{
    width: 60%;
    align-self: center;
    padding: 3em;
}


.field{
    display: flex;
    flex-direction: row;
    margin: 1em;
    width: 100%;
}
.field label{
    width: 30%;
    text-align: right;
    margin: 0 1em 0 0;
}
.field textarea{
    width: 50%;
    margin: 0 1em;
    background-color: rgb(200, 200, 200);
    border-color: ;
    border-radius: 4px;
}
textarea:focus {
    outline: 2px solid #07d2b2;
    border: none;
    
  }
  

/********************* Styles *****************************/

.style2{
    background-color: #005cff;
    color: #fff;
}

.style3{
    background-color: #07d2b2;
    color: Black;
}

.style4{
    background-color: #002863;
    color: #fff;
}
.style5{
    background-color: #005cff;
    color: #fff;
}
.style5 textarea{
        width: 50%;
        margin: 0 1em;
        background-color: #002863;
        border: none;
        border-radius: 4px;
    }
